.menu-toggle-btn {
  display: none;
}

@media (max-width: $break-normal) {
  //medium and small devices

  //  @include for-mobile-layout {
  .menu-toggle-btn {
    display: block;
    color: $font-clr1;
    position: absolute;
    z-index: 4;
    right: 2rem;
    top: 2rem;
    font-size: 1.5rem;
  }

  .main-screen {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $bgc1;
    // background-color: rgb(49, 48, 48, 0.95);
    margin: 0;
  }

  .mobile-menu {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0.9;
    z-index: 10;
    color: $font-clr1;
    background: $grd-clr4;
    box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
    margin-bottom: 3rem;




  }

  nav {
    display: flex;
    flex-direction: column;

    .mobile-header-link {
      padding: 1rem 0.5rem;
      border-bottom: 1px solid $font-clr3 ;
    }
  }

  .logo-mobile {
    padding-left: 0.6rem;
  }

  .logo {
    padding-left: 0.6rem;
    display: block;
    color: $font-clr1;
    position: absolute;
    // left: $layoutPadding;
    top: 1rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }

  .wide-menu {
    display: none;
  }

  .contact-filter {
    margin-top: 4rem;
  }
}