h1 {
    font-family: clash-semibold;
    font-size: rem(34px);
}

h2 {
    font-size: rem(22px);
}

h3 {
    font-size: rem(18px);
}

small {
    font-size: rem(12px);
}

.prim-btn {
    @include flex($justify: center);
    flex-direction: row;
    padding: em(14px) em(10px);
    background: $grd-clr1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: em(12px);

    &:hover {
        background-color: $grd-clr5;
        box-shadow:
            inset 20px 0 60px #9d62d9, inset -20px 0 60px #6262d9;


    }
}

.cheap-btn {
    @include flex($justify: center);
    flex-direction: column;
    padding: em(12px) em(18px);
    border-radius: em(12px);
}

.dark-btn {
    background: $bgc2;
}

.light-btn {
    background: $prim-clr2;
}

.txt-btn {
    color: $prim-clr1;
}

input {
    display: block;
    padding: em(14px) em(10px);
    background-color: $bgc2;
    border-radius: em(12px);
    border: none;
    color: white
}