.contact-details {
    min-height: 90vh;
    margin-bottom: 2em;
    color: $font-clr1;

    span {
        display: block;
    }

    img {
        width: 200px;
    }

    button {
        margin: 20px 0;
        // background-color: $font-clr1;
        // ;
        // color: $bgc1
    }
}