.contact-edit {
    min-height: 90vh;
    margin-bottom: 2em;


    input {
        margin-bottom: 5vh;
        font-size: 1rem;
    }

    @media (max-width: $break-normal) {
        margin-top: 10vh;
    }
}