.statistics {
    min-height: 90vh;
    margin-bottom: 2em;

    article {
        margin-bottom: 2em;
    }
}

@media (max-width: $break-normal) {
    .statistics {
        margin-top: 8vh;

        h1 {
            font-size: 1rem;
        }

        div {
            margin-bottom: 8vh;
        }

    }

}