// @font-face {
//     font-family: omega-sans;
//     src: url(../../fonts/omega-sans/Omega-Sans-Regular.ttf);
// }

// @font-face {
//     font-family: ailerons;
//     src: url(../../fonts/ailerons/Ailerons-Typeface.otf);
// }

@font-face {
    font-family: clash-semibold;
    src: url(/fonts/clash-grotesk/ClashGrotesk-Semibold.otf);
}

@font-face {
    font-family: nuntio-regular;
    src: url(/fonts/nunito-sans/NunitoSans-Regular.ttf);
}